@import url(http://fonts.googleapis.com/css?family=Raleway);

h1{
	position: relative;
	top:18px;
	left: 10px;
	font-family: 'Raleway', sans-serif;
}

h2{
	color: #324c5b;
	margin-left: 20px;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}

h4{
	color: #324c5b;
	margin-left: 50px;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}

div.container{
	width: 100%;
	height: 850px;
	background-color: #f4f7fa;
	font-family: 'Raleway', sans-serif;
}

div.header{
	background: white;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 70px;
}

div.avatarUser{
	position: relative;
	float: right;
	height: 70px;
	width: 120px;
	margin-top: -65px;
}

div.main{
	margin-top: 70px;
	margin-left: 100px;
}

div.economy{
	margin-top: 50px;
	width: 220px;
	height: 200px;
}

div.economyInfoBalance{
	border: 5px solid white;
	border-radius: 15px;
	background-color: white;
	width: 250px;
	height: 100px;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 40px;
}

img.topSpendee{
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	width: 60px;
}

img.topAvatar{
	float: right;
	margin-right: 130px;
	margin-top: 15px;
	width: 60px;
}

a.topLogout{
	float: right;
	color: black;
	margin-top: -30px;
	margin-right: 40px;
}

#currentBalance{
	color: #324c5b;
	margin-left: 30px;
	font-weight: bold;
}

#value{
	color: black;
	margin-left: 30px;
}

button.addEconAcc{
	background-color: white;
	color: #12c48b;
	width: 100%;
	height: 50px;
	border: 15px solid white;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	padding: 0 8px;
	text-overflow: ellipsis;
}

button.addEconAcc:hover{
	box-shadow: 5px 5px 5px grey;
}

#daterange{
	float: right;
	margin-right: 130px;
	margin-top: 5px;
	width: 300px;
	text-align: center;
}

#addTransactionButton{
	margin-left: 30px;
}

button.btn-info{
	float:left;
	margin-top: 25px;
	margin-left: 150px;
}

div.item{
	margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    height: 30px;
	box-shadow: 1px 1px 0px 0px #66666661;
}

#transactionInfo{
	clear:both;
	border: 5px solid white;
	border-radius: 15px;
	background-color: white;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 40px;
	width: 90%;
	height: auto;
}
ul {
  list-style-type: none;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 


