@import url(http://fonts.googleapis.com/css?family=Raleway);

div.container{
	width: 100%;
	height: 850px;
	background-color: #f4f7fa;
	font-family: 'Raleway', sans-serif;
}

div.header{
	background: white;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 70px;
}

div.avatarUser{
	position: relative;
	float: right;
	height: 70px;
	width: 120px;
	margin-top: -50px;
}

div.main{
	margin-top: 70px;
	margin-left: 100px;
}

img.topSpendee{
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	width: 60px;
}

img.topAvatar{
	float: right;
	margin-right: 130px;
	margin-top: 5px;
	width: 60px;
}

a.topLogout{
	float: right;
	color: black;
	margin-top: -30px;
	margin-right: 40px;
}

a.overviewLink{
	position: relative;
	color: #12c48b;
	display: inline-block;
	top: -40px;
	left: 450px;
	font-family: 'Raleway', sans-serif;
}

a.homeLink{
	position: relative;
	color: #12c48b;
	display: inline-block;
	top: -40px;
	left: 400px;
	font-family: 'Raleway', sans-serif;
}

a.statisticsLink {
	position: relative;
	color: #12c48b;
	display: inline-block;
	top: -40px;
	left: 500px;
	font-family: 'Raleway', sans-serif;
}

div.groupsInfo{
	border-radius: 15px;
	width: 650px;
    height: 300px;
    margin-bottom: 30px;
    display: inline-block;
}

div.groupsInfo .avatar{

	float:left;
	width: 150px;
    height: 200px;
}

div.groupsInfo div #memberName{
	text-align: center;
	font-size:x-large;
}

img.memberAvatar{
	position: relative;
	height: 120px;
	margin-right: 130px;
	margin-top: 5px;
	width: 120px;
	border-radius: 50%;
}
img.memberAvatar:hover{

	box-shadow: 5px 5px 5px grey;
	
}

/*img.plusImage{
	position: relative;
	height: 200px;
	margin-right: 130px;
	margin-top: 5px;
	width: 200px;
	border-radius: 50%;
}*/

div.groupsInfo div #createGroup{
	text-align: center;
	font-size:x-large;
}


div.groupsInfo .plus{
	clear: both;
    margin-top: 60px;
	float:left;
	width: 250px;
    height: 200px;

}

div.groupsInfo .invisibleDiv{
	float:left;
	width: 200px;
    height: 200px;
    visibility: hidden;

}

#createButton{

	position: relative;
	height: 120px;
	margin-right: 130px;
	margin-top: 5px;
	width: 120px;
	border-radius: 50%;
	background: white;
	border: 0px;
}

#createButton:hover{
	box-shadow: 5px 5px 5px grey;
}

div .main .groupWallet{

	float:right;
	border: 5px solid white;
	border-radius: 15px;
	background-color: white;
	width: 250px;
	height: 100px;
	cursor: pointer;
}

div .main .groupWallet #walletMessage{

	text-align:center;
}

#daterange{
	float: right;
	margin-right: 130px;
	margin-top: 5px;
	width: 300px;
	text-align: center;
}

div .main .datePicker {

	margin-top:100px;
}

div.myTransactions{
    margin-top: 50px;
}

#transactionsInfo{
	clear:both;
	border: 5px solid white;
	border-radius: 15px;
	background-color: white;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 40px;
	width: 90%;
	height: auto;
}

ul {
  list-style-type: none;
}

div.item{
	margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    height: 30px;
	box-shadow: 1px 1px 0px 0px #66666661;
}
