@import url(http://fonts.googleapis.com/css?family=Raleway);

h1{
	position: relative;
	font-family: 'Raleway', sans-serif;
}

h2{
	padding: 30px 35px;
	margin: -10px -50px;
	text-align:center;
	border-radius: 10px 10px 0 0;
	height: 20px;
}
hr{
	margin: 10px -50px;
	border: 0;
	border-top: 1px solid #ccc;
	margin-bottom: 40px;
}
div.container{
	width: 100%;
	height: 100%;
	background-color: #dee7ed;
	font-family: 'Raleway', sans-serif;
}
div.main{
	width: 300px;
	padding: 10px 50px 25px;
	border: 2px solid gray;
	border-radius: 10px;
	font-family: raleway;
	float:left;
	margin-left: 560px;
	margin-top: 100px;
}

div.header{
	background: white;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	height: 130px;
}

img.topSpendee{
	margin-top: 0px;
	width: 60px;
}

input[type=text],input[type=password]{
	width: 100%;
	height: 40px;
	padding: 5px;
	margin-bottom: 25px;
	margin-top: 5px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}
label{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}
input[type=button]{
	font-size: 16px;
	background: linear-gradient(#00b3b3 5%,  #008081 100%);
	border: 1px solid #009999;
	color: white;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	padding: 10px 0;
	outline:none;
}
input[type=button]:hover{
	background: linear-gradient(#00b3b3 5%, #00e6e6 100%);
}